.App {
  text-align: center;
  margin: auto;
  margin-top: 2em;
  max-width: 450px;
  min-height: 450px;
  padding: 5px;
  padding-top: 10px;
  background-color: #222;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
